@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #EFE6DD;
  --primary-color: #BB4430;
  --secondary-color: #7EBDC2;
  --font-color: #231f20;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Roboto Mono', monospace;
}

footer a {
  color: var(--font-color);
  text-decoration: none;
}

footer a:visited {
  color: var(--font-color);
}

header {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

input, select{
  padding: 3px 6px;
  border: none;
  border-radius: 5px;
}
input[type=number] {
  width: 100px;
}

main h1 {
  text-align: center;
  margin-bottom: 10px;
}

.base-currency, .exchange-currency {
  margin-top: 10px;
  text-align: center;
}

.error {
  border: 2px solid red;
}

.fa-coins {
  color: #E09200;
}

.fa-money-bill-wave {
  color: #85bb65;
}

.fa-rupee-sign {
  transform: translate(75%, 75%)
}
.fa-ruble-sign {
  transform: translate(-75%, 75%)
}
.fa-hryvnia {
  transform: translate(75%, -75%)
}
.fa-lira-sign {
  transform: translate(-75%, -75%)
}
.fa-globe {
  color: var(--secondary-color)
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

#bottom-row {
  margin-top: 5px;
  text-align: center;
}

#bottom-row button {
  margin: 5px 0;
}

#currency-key h2 {
  text-align: center;
  margin-bottom: 10px;
}

#get-rate{
  cursor: pointer;
  background-color: var(--secondary-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

#get-rate:hover{
  background-color: #66B2B7;
}

#get-rate:active{
  transform: scale(0.97)
}

#get-rate:focus{
  outline: none;
}

#split-lists {
  display: flex;
  justify-content: center;
}

#split-lists ul {
  list-style-type: none;
}

#split-lists ul:first-of-type {
  margin-right: 30px;
}